mdapi_output_dir/flows/call_to_Push_Notification-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>pushNotification</name>
        <label>pushNotification</label>
        <locationX>116</locationX>
        <locationY>158</locationY>
        <actionName>pushNotifiation_sendNotification__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>displayResult</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userid</name>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>resultCall</assignToReference>
            <name>simpleResponse_status</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>call to Push Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>call to Push Notification</label>
    <processType>Flow</processType>
    <screens>
        <name>displayResult</name>
        <label>displayResult</label>
        <locationX>108</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CallResult</name>
            <fieldText>{!resultCall}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sendNotification</name>
        <label>sendNotification</label>
        <locationX>124</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>pushNotification</targetReference>
        </connector>
        <fields>
            <name>userid</name>
            <dataType>String</dataType>
            <fieldText>userid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>message</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>sendNotification</startElementReference>
    <variables>
        <name>resultCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
